.tree{
  position:relative;
  > div {
    border:2px solid black;
    border-radius: 50%;
    color: black;
    position: absolute;
    transition: border-color, opacity 2s ease-in-out;
    padding: 4px;
    width: 40px;
    p {
      margin: 0;
    }
    .after, .before {
      border-bottom:2px solid red;
      position:absolute;
      width:0;
      height:0;
      top: 48px;
      transition: color,border-color 1.5s ease-in-out;
      &:not(.active) {
        color:transparent;
        transition: color 1.5s ease-in-out 0s;
      }
      &.transparent {
        border-color: transparent;
      }
    }
    .after {
      transform-origin: top left;
    }
    .before {
      transform-origin: top right;
    }
    &.active {
      border-color: orange;
    }
    &.transparent {
      opacity: 0;
    }
    &:not(.active) {
      transition: border-color 1.5s ease-in-out 0s;
    }
  }
}