.tree{
  position:relative;
  > div {
    border:2px solid black;
    border-radius: 50%;
    color: black;
    position: absolute;
    transition: border-color, opacity 2s ease-in-out;
    padding: 4px;
    width: 40px;
    p {
      margin: 0;
    }
    .after, .before {
      border-bottom:2px solid red;
      position:absolute;
      width:0;
      height:0;
      top: 48px;
      transition: color,border-color 1.5s ease-in-out;
      &:not(.active) {
        color:transparent;
        transition: color 1.5s ease-in-out 0s !important;
      }
      &.transparent {
        border-color: transparent;
      }
    }
    .after {
      transform-origin: top left;
    }
    .before {
      transform-origin: top right;
    }
    &.active {
      border-color: orange;
    }
    &.transparent {
      opacity: 0;
    }
    &:not(.active){
      transition: border-color,opacity 1.5s ease-in-out 0s !important;
    }
  }
}
.animationCollect {
  animation:5s ease-in 0s collect;
  transition-delay: 0s !important;
}
@keyframes collect { from,to { border-color: green }}