form {
  #random:checked {
      background: blue;
  }
  #min, #max, #quantity {
    margin: 0.2rem 0.5rem;
    width: 20%;
  }
  .red {
    border-color: red;
  }
  input[type="submit"], #min {
    margin-left: 0;
  }
}