//variable
$styleBorder: (left:(radius:left, delete:right), right:(radius:right, delete:left));
$colorBorder: (red: red, green: green);

$styleTransform: (left:-48px, right:48px);//40px+2*4px

.animationSort {
  .array div {
    .comparison {
      opacity: 0;
      position:absolute;
      right:-3.5px;
      top:2px;
      transition: opacity 0.5s ease-in-out;
    }
    &.leftSide .comparison.opacity{
      opacity: 1;
    }
    @each $nameClass, $style in $styleBorder {
      &.#{$nameClass}Side {
        border-color: black;
        border-#{map-get($style,delete)}: none;
        border-radius: 0;
        border-top-#{map-get($style,radius)}-radius: 50%;
        border-bottom-#{map-get($style,radius)}-radius: 50%;
        transition: border-color 0s ease-in-out;
        position: relative;
        p:not(.comparison) {
          transition: transform 0s ease-in-out;
        }
      }
    }
    @each $nameClass, $color in $colorBorder {
      &.#{$nameClass} {
        border-color:$color;
        transition: border-color 0.5s ease-in-out;
      }
    }
    @each $nameClass, $transform in $styleTransform {
      &.#{$nameClass} p:not(.comparison) {
        transform: translateX($transform);
        transition: transform 2s ease-in-out 1s;
      }
    }
  }
}